<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Bienvenido, {{ data.nombre_completo }}</h1>
    <p>Id usuario: {{ data.user_id }}</p>
    <p>Nombre: {{data.nombre_completo}}</p>
    <p>Email: {{ data.email }}</p>
    <p>Token Acceso: {{ data.access_token }}</p>
    <p>Token de Refresco: {{ data.refresh_token }}</p>  
    <img src="{{ data.foto_perfil }}" alt="Foto de perfil" width="100" height="100">
    
    <!-- Si el tipo del usuario no está definido, mostramos el botón para seleccionar el tipo -->
    {% if show_selection_button %}
        <p>El tipo de usuario aún no está definido. Por favor selecciona tu tipo:</p>
        <button onclick="window.location.href='/autenticacion/seleccion/'">Seleccionar Tipo de Usuario</button>
    {% else %}
        <p>Tipo de usuario: {{ data.tipo_usuario }}</p>
    {% endif %}
</body>

</html>
